## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Champerico,GT,82.94,overcast clouds,14.3000,-91.9167,Champerico
1,1,Silvania,BR,76.23,few clouds,-16.6589,-48.6081,Silvânia
2,4,Ponta Do Sol,PT,83.71,clear sky,32.6667,-17.1000,Ribeira Brava
3,14,Dingle,PH,78.53,broken clouds,10.9995,122.6711,Pototan
4,19,Beloha,MG,76.35,clear sky,-25.1667,45.0500,Beloha

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
vacation_df = vacation_df.loc[vacation_df["Country"] == "SS"]
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
58,156,Maridi,SS,80.78,light rain,4.9158,29.4742,Maridi
60,159,Yei,SS,78.89,light rain,4.0950,30.6779,Yei
96,239,Tambura,SS,75.49,overcast clouds,5.6000,27.4667,Tambura
168,430,Juba,SS,84.27,scattered clouds,4.8517,31.5825,Juba

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
start = float(input("What is the Starting City_ID for your vacation? "))
stop1 = float(input("What is the First Stop City_ID you would like to plan for your vacation? "))
stop2 = float(input("What is the Second Stop City_ID you would like to plan for your vacation? "))
stop3 = float(input("What is the Thirth Stop City_ID you would like to plan for your vacation? "))
end = float(input("What is the Ending City_1D you would like to plan for your vacation? "))

What is the Starting City_ID for your vacation? 156
What is the First Stop City_ID you would like to plan for your vacation? 159
What is the Second Stop City_ID you would like to plan for your vacation? 239
What is the Thirth Stop City_ID you would like to plan for your vacation? 430
What is the Ending City_1D you would like to plan for your vacation? 156

In [35]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City_ID"] == start)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = vacation_df.loc[(vacation_df["City_ID"] == stop1)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = vacation_df.loc[(vacation_df["City_ID"] == stop2)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = vacation_df.loc[(vacation_df["City_ID"] == stop3)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = vacation_df.loc[(vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is Maridi, SS
Your Frist Stop is Yei, SS
Your Second Stop is Tambura, SS
Your Thirth Stop is Juba, SS
Your Last Stop in your vacation is Maridi, SS

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
end = vacation_end[["Lat", "Lng"]]
stop1 = vacation_stop1[["Lat", "Lng"]]
stop2 = vacation_stop2[["Lat", "Lng"]]
stop3 = vacation_stop3[["Lat", "Lng"]]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

Lat     4.9158
Lng    29.4742
Name: 58, dtype: object
Lat     4.9158
Lng    29.4742
Name: 58, dtype: object
Lat      4.095
Lng    30.6779
Name: 60, dtype: object
Lat        5.6
Lng    27.4667
Name: 96, dtype: object
Lat     4.8517
Lng    31.5825
Name: 168, dtype: object

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (4.9158, 29.4742)
stop1 = (4.095, 30.6779)
stop2 = (5.6, 27.4667)
stop3 = (4.8517, 31.5825)
end = (4.9158, 29.4742)

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')

fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,156,Maridi,SS,80.78,light rain,4.9158,29.4742,Maridi
1,159,Yei,SS,78.89,light rain,4.0950,30.6779,Yei
2,239,Tambura,SS,75.49,overcast clouds,5.6000,27.4667,Tambura
3,430,Juba,SS,84.27,scattered clouds,4.8517,31.5825,Juba

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))